# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
.Rproj.user

# Auxiliary files
analysis/data/DO-NOT-EDIT-ANY-FILES-IN-HERE-BY-HAND

# Archived code
analysis/code/archived/

# Data (raw, temporary, archived)
analysis/data/raw_data/

analysis/data/derived_data/output_manual_edit
analysis/data/derived_data/input_gd
analysis/data/derived_data/temp
analysis/data/derived_data/results

# Figures (temporary, working figs)
analysis/figures/temp



